.alert {
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 20px;
  padding: 10px;
  background-color: #d62c1a;
  animation: alert .5s ease, hide .5s ease 5s forwards;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -4px;
    width: 4px;
    height: 100%;
    background-color: darken(#d62c1a, 15%);
  }
}

@keyframes alert {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
};

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
};
