.modal {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__alert {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px;
    background-color: #d62c1a;
    animation: alert .5s ease;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -4px;
      width: 4px;
      height: 100%;
      background-color: darken(#d62c1a, 15%);
    }
  }

  .form {
    display: flex;
    width: 300px;
    flex-flow: wrap column;
    row-gap: 25px;
    padding: 20px;
    border-radius: 20px;
    background-color: #404040;
    box-shadow: 0 0 10px #404040;
    transition: .3s ease;

    &:hover {
      box-shadow: none;
      width: 600px;
    }

    &__control {
      width: 100%;
      display: flex;
      flex-flow: wrap column;
      row-gap: 5px;
    }

    h2,
    .info {
      text-align: center;
    }

    input {
      height: 30px;
      color: #000;
    }
  }

  button {
    padding: 10px;
  }
}

@keyframes alert {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
