main.results {
    grid-template: auto 45px / 1fr;
    grid-template-areas: 
    "results results"
    "button button";
    text-align: center;
}

.result-info {
    grid-area: results;
    letter-spacing: 3px;
    word-spacing: 10px;
    border-radius: 10px;
    padding: 30px;
    background-color: #404040;

    h1 {
        font-size: 3rem;
    }

    & * {
        &:not(:first-child) {
            margin-top: 30px;
            width: 100%;
        }
    }

    img {
        max-width: 100%;
        max-height: 400px;
    }
}
