.description {
    grid-area: description;
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #404040;
    border: 1px solid lighten($color: #404040, $amount: 15%);
    border-radius: 10px;

    & > img {
        width: 200px;
        border-radius: 10px;
        align-self: center;
    }

    .game {
        &-info {
            padding-left: 30px;
            display: flex;
            flex-wrap: wrap;
            align-content: space-around;
            flex: 1 1 400px;
        }

        &-name {
            width: 100%;
            margin-top: 10px;
            font-size: 2rem;
            font-weight: 500;
        }
    }
}

@media (max-width: 664px) {
    .description {
        .game-info {
            padding-left: 0;

            .game-name {
                text-align: center;
            }
        }
    }    
}