.question {
    grid-area: question;
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #404040;
    border: 1px solid lighten($color: #404040, $amount: 15%);
    border-radius: 10px;

    & > img {
        width: 200px;
        border-radius: 10px;
    }

    .game {
        &-info {
            padding-left: 30px;
            display: flex;
            flex-wrap: wrap;
            align-content: space-around;
            flex: 1 1 400px;
        }

        &-name {
            width: 100%;
            margin-top: 10px;
            font-size: 2rem;
            font-weight: 500;
        }
    }

    .player {
        width: 100%;

        .timeline {
            margin-bottom: 20px;
            display: flex;
            width: 100%;
            align-items: center;

            .time {
                font-size: 0.75rem;
            }
        }

        .playpause {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            margin-right: 5px;
            border-radius: 100%;
            border: 2px solid #00bc8c;

            &:hover {
                cursor: pointer;
            }

            .play-indicator {
                color: #00bc8c;
            }
        }

        .progress-bar {
            flex: 1 1;
            margin: 0 10px;
        }

        .volume {
            display: flex;
            align-items: center;
            width: 100%;

            &-indicator {
                margin-right: 10px;
                color: #00bc8c;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width: 664px) {
    .question {
        .game-info {
            padding-left: 0;

            .game-name {
                text-align: center;
            }
        }
    }    
}