.player {
    width: 100%;

    .timeline {
        margin: 30px 0;
        display: flex;
        width: 100%;
        align-items: center;

        .time {
            font-size: 0.75rem;
        }
    }

    .playpause {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        margin-right: 5px;
        border-radius: 100%;
        border: 2px solid #00bc8c;

        &:hover {
            cursor: pointer;
        }

        .play-indicator {
            color: #00bc8c;
        }
    }

    .progress-bar {
        flex: 1 1;
        margin: 0 10px;
    }

    .volume {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;

        &-indicator {
            margin-right: 10px;
            color: #00bc8c;

            &:hover {
                cursor: pointer;
            }
        }
    }
}